# Environment & secrets
.env

# Node.js
node_modules/

# Build outputs
build/
dist/

# Logs/zips
*.log
*.zip

# IDE / editor settings
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
.venv
